.button {
  display: block;

  padding: 11px;

  font-size: 14px;
  line-height: 18px;
  font-family: $oswald;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-decoration: none;

  background-color: $green;
  border: none;
}
