.catalog {
  border-top: $border;
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  padding: 0 6.25%;
  padding-bottom: 24px;

  border-bottom: $border;
}

.catalog__info {
  display: flex;
  justify-content: space-between;
}

.catalog__link {
  width: 50%;

  line-height: 0;
}

.catalog__image {
  width: 140px;
  height: auto;
}

.catalog__text {
  width: 50%;
  padding-top: 22px;
}

.catalog__title {
  display: block;
  margin-bottom: 9px;
  padding-right: 50px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog__table {
  width: 100%;

  font-size: 12px;
  line-height: 16px;
  color: $gray;
}

.catalog__parameter {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 0;

  text-align: left;
}

.catalog__value {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 0;

  text-align: right;
}

.catalog__button {
  font-size: 16px;
}

.catalog__all {
  position: relative;

  padding-top: 80px;
  padding-bottom: 24px;

  text-align: center;

  border-bottom: $border;

  &::before {
    position: absolute;
    top: 26px;
    left: 0;
    right: 0;

    display: block;
    width: 30px;
    height: 30px;
    margin: auto;

    background-image: url("../img/icon-plus-mobile.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;

    content: "";
    opacity: 0.2;
  }
}

.catalog__all-title {
  display: block;
  margin-bottom: 7px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;
}

.catalog__all-text {
  @include text-reset;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 16px;
  color: $gray;
}

.catalog__all-button {
  font-size: 16px;
  line-height: 20px;
  color: $gray;

  background-color: #f2f2f2;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}


@media (min-width: 768px) {
  .catalog {
    border: none;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 708px;
    margin: 0 auto;
    margin-bottom: -75px;
  }

  .catalog__item {
    position: relative;

    width: 324px;
    margin-bottom: 140px;
    padding: 0 38px;
    padding-top: 163px;
    padding-bottom: 40px;

    background-color: #f2f2f2;
    border: none;

    box-sizing: border-box;
  }

  .catalog__all {
    padding-top: 163px;
    padding-bottom: 40px;

    background: none;

    border: $border;

    &::before {
      top: 52px;

      width: 60px;
      height: 60px;

      background-image: url("../img/icon-plus.svg");
      background-size: 60px 60px;
      background-repeat: no-repeat;
    }
  }

  .catalog__info {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }

  .catalog__link {
    width: 100%;
    margin: 0;
  }

  .catalog__image {
    position: absolute;
    bottom: 305px;
    left: 0;
    right: 0;

    width: 324px;
    margin: auto;
  }

  .catalog__text {
    width: 100%;
    padding: 0;

    box-sizing: border-box;
  }

  .catalog__title {
    display: block;
    margin-bottom: 23px;
    padding: 0 50px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .catalog__table {
    margin-bottom: 29px;

    font-size: 16px;
    line-height: 16px;

    border-collapse: collapse;
  }

  .catalog__table tr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px 0;

    border-bottom: $border;
  }

  .catalog__parameter {
    width: 50%;
  }

  .catalog__value {
    width: 50%;
  }

  .catalog__all-title {
    margin-bottom: 25px;
    padding: 0 40px;

    font-size: 20px;
    line-height: 20px;
  }

  .catalog__all-text {
    margin-bottom: 82px;
    padding: 0 20px;

    font-size: 16px;
    line-height: 20px;
  }

  .catalog__all-button {
    padding: 10px;
  }
}

@media (min-width: 1300px) {
  .catalog__list {
    width: 1220px;
    margin-bottom: -61px;
  }

  .catalog__item {
    width: 245px;
  }

  .catalog__title {
    padding: 0 10px;
  }

  .catalog__all-title {
    padding: 0;
  }

  .catalog__all-text {
    margin-bottom: 81px;
    padding: 0;
  }
}
