.catalog {
  border-top: $border;
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  padding: 0 6.25%;
  padding-bottom: 22px;

  border-bottom: $border;
}

.catalog__info {
  display: flex;
  justify-content: space-between;
}

.catalog__link {
  width: 50%;

  line-height: 0;
}

.catalog__image {
  width: 100%;
}

.catalog__text {
  width: 50%;
  padding-top: 22px;
}

.catalog__title {
  display: block;
  margin-bottom: 11px;
  padding-right: 50px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog__table {
  width: 100%;

  font-size: 12px;
  line-height: 16px;
  color: $gray;
}

.catalog__parameter {
  width: 50%;
  padding: 0;

  text-align: left;
}

.catalog__value {
  width: 50%;
  padding: 0;

  text-align: right;
}

.catalog__button {
  font-size: 16px;
  line-height: 20px;
}

.catalog__all {
  position: relative;

  padding-top: 80px;
  padding-bottom: 24px;

  text-align: center;

  border-bottom: $border;

  &::before {
    position: absolute;
    top: 26px;
    left: 0;
    right: 0;

    display: block;
    width: 30px;
    height: 30px;
    margin: auto;

    background-image: url("../img/icon-plus-mobile.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;

    content: "";
    opacity: 0.2;
  }
}

.catalog__all-title {
  display: block;
  margin-bottom: 10px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;
}

.catalog__all-text {
  @include text-reset;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 16px;
  color: $gray;
}

.catalog__all-button {
  font-size: 16px;
  line-height: 20px;
  color: $gray;

  background-color: #f2f2f2;
}


@media (min-width: 768px) {
  .catalog {
    border: none;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 708px;
    margin: 0 auto;
  }

  .catalog__item {
    width: 324px;
    margin-bottom: 93px;
    padding: 0 38px;
    padding-bottom: 40px;

    background-color: #f2f2f2;
    border: none;

    box-sizing: border-box;
  }

  .catalog__all {
    padding-top: 165px;
    padding-bottom: 40px;

    background: none;

    border: $border;
  }

  .catalog__info {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }

  .catalog__link {
    width: 100%;

    margin-bottom: 40px;
  }

  .catalog__image {
    width: 100%;
  }

  .catalog__text {
    width: 100%;

    box-sizing: border-box;
  }

  .catalog__title {
    display: block;
    margin-bottom: 32px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .catalog__table {
    font-size: 16px;
    line-height: 16px;

    border-collapse: collapse;
  }

  .catalog__parameter {
    border-bottom: $border;
  }

  .catalog__value {
    border-bottom: $border;
  }
}

@media (min-width: 1300px) {
  .catalog__list {
    width: 1220px;
  }

  .catalog__item {
    width: 245px;
  }
}
