// .contacts {

// }

.contacts__info {
  display: flex;
  justify-content: space-between;
  padding: 28px 6.25%;
}

.contacts__info--gray {
  background-color: #f2f2f2;
}

.contacts__invite {
  @include text-reset;
  width: 125px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;

  box-sizing: border-box;
}

.contacts__adress {
  @include text-reset;
  width: 140px;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $gray;

  box-sizing: border-box;
}

.contacts__map {
  position: relative;

  min-height: 362px;

  line-height: 0;
}

.contacts__map-image {
  position: absolute;

  width: 100%;
  height: 362px;

  z-index: -1;
}

.contacts__map-iframe {
  width: 100%;
}

@media (min-width: 768px) {
  .contacts__info {
    padding: 65px 3.9%;
    padding-bottom: 57px;
  }

  .contacts__invite {
    width: 200px;
    padding-left: 42px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__adress {
    width: 200px;
    padding-right: 42px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__city {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
  }

  .contacts__map {
    min-height: 396px;
  }

  .contacts__map-image {
    height: 396px;
  }

  .contacts__map-iframe {
    height: 396px;
  }
}

@media (min-width: 1300px) {
  .contacts {
    position: relative;
  }

  .contacts__info {
    position: absolute;
    top: 90px;
    left: 30px;

    width: 570px;
    margin: 0;
    padding: 65px 0;

    background-color: #ffffff;

    box-sizing: border-box;

    z-index: 10;
  }

  .contacts__invite {
    width: 245px;
    padding-left: 77px;

    box-sizing: border-box;
  }

  .contacts__adress {
    width: 245px;
    padding-right: 77px;

    text-align: left;

    box-sizing: border-box;
  }
}
