// .contacts {

// }

.contacts__info {
  display: flex;
  justify-content: space-between;
  padding: 47px 6.25%;
}

.contacts__invite {
  @include text-reset;
  width: 125px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;

  box-sizing: border-box;
}

.contacts__adress {
  @include text-reset;
  width: 140px;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $gray;

  box-sizing: border-box;
}

// .contacts__map {

// }

.contacts__map-image {
  width: 100%;
  max-height: 400px;//временно
}

@media (min-width: 768px) {
  .contacts__info {
    width: 708px;
    margin: 0 auto;
    padding: 0;
  }

  .contacts__invite {
    width: 192px;
    padding-left: 42px;
  }

  .contacts__adress {
    width: 192px;
    padding-right: 42px;
  }
}

@media (min-width: 1300px) {
  .contacts {
    position: relative;
  }

  .contacts__info {
    position: absolute;
    top: 95px;
    left: 40px;

    width: 570px;
    margin: 0;

    background-color: #ffffff;
  }
}
