// .contacts {

// }

.contacts__info {
  display: flex;
  padding: 47px 0;
}

.contacts__invite {
  @include text-reset;
  width: 50%;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;
}

.contacts__adress {
  @include text-reset;
  width: 50%;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $gray;
}
