.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.copyright__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $gray;
}

.copyright__link {
  margin-right: -10px;
}

.copyright__svg {
  fill: #666666;
}

.copyright__link:hover,
.copyright__link:focus {
  outline-color: $green;

  .copyright__svg {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: 768px) {
  .copyright {
    justify-content: flex-end;
    width: 30.73%;
    padding: 0;

    text-align: right;
  }

  .copyright__link {
    margin-left: 10px;
  }
}
