.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.copyright__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $gray;
}

.copyright__link {
  margin-right: -10px;
}

.copyright__svg {
  display: block;

  &:hover path,
  &:focus path {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__svg path {
  fill: #666666;
}


@media (min-width: 768px) {
  .copyright {
    justify-content: flex-end;
    width: 30.73%;
    padding: 0;

    text-align: right;
  }

  .copyright__link {
    margin-left: 10px;
  }
}
