.example {
  background-color: #f2f2f2;
}

.example__wrapper {
  padding: 0 6.25%;
  padding-top: 29px;
  padding-bottom: 35px;
}

.example__title {
  @include text-reset;
  margin-bottom: 35px;
  padding: 0 6.25%;

  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  font-family: $oswald;
  color: $black;
}

.example__text {
  @include text-reset;
  margin-bottom: 25px;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $gray;
}

.example__results {
  margin-bottom: 20px;
}

.example__item-wrapper {
  display: flex;
  justify-content: space-between;
}

.example__item {
  @include text-reset;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #cdcdcd;
}

.example__item-figure {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;
}

.example__item-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: $gray;
  text-transform: lowercase;
}

.example__cost {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: $oswald;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.example__before-after {
  padding: 0 6.25%;
  box-sizing: border-box;
}

.example-slider {
  display: flex;
  flex-direction: column;
}

.example-slider__scale {
  display: flex;
  justify-content: space-around;
}

.example-slider__scale-before {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;

  cursor: pointer;
}

.example-slider__scale-after {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;

  cursor: pointer;
}


@media (min-width: 768px) {
  .example {
    background: none;
  }

  .example__title {
    width: 708px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .example__wrapper {
    width: 708px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .example__results {
    display: flex;
    justify-content: space-between;
  }

  .example__before-after {
    background-color: #f2f2f2;
    padding: 0;
  }

  .example-slider__images {
    width: 708px;
    margin: 0 auto;
  }

  .example-slider__scale {
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: 1300px) {
  .example__title {
    width: 1220px;
  }

  .example__color-wrapper {
    background-color: #f2f2f2;
  }

  .example__flex-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .example__wrapper {
    width: 570px;
    margin: 0;
  }

  .example__results {
    flex-direction: column;
  }

  .example__item-wrapper {
    justify-content: stretch;
  }

  .example__cost {
    text-align: left;
  }

  .example__before-after {
    width: 570px;

    background: none;
  }

  .example-slider__images {
    width: 570px;
    margin: 0;
  }

  .example-slider__scale {
    width: 570px;
    margin: 0;
  }
}
