.example {
  padding: 17px 0;
  padding-bottom: 35px;

  background-color: #f2f2f2;
}

.example__wrapper {
  padding: 0 6.25%;
}

.example__title {
  @include text-reset;
  margin-bottom: 23px;
  padding: 0 6.25%;

  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  font-family: $oswald;
  color: $black;
}

.example__text {
  @include text-reset;
  margin-bottom: 25px;
  padding-right: 10px;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $gray;
}

.example__results {
  margin-bottom: 35px;
}

.example__item-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.example__item {
  @include text-reset;

  position: relative;

  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 5px;

  border: 1px solid #cdcdcd;
  border-radius: 3px;

  box-sizing: border-box;
}

.example__item-figure {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;
}

.example__item-text {
  position: absolute;
  bottom: -15px;

  width: 87px;
  padding: 0 15px;

  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: $gray;
  text-transform: lowercase;
  text-align: center;

  background-color: #f2f2f2;

  box-sizing: border-box;
}

.example__cost {
  @include text-reset;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: $oswald;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.example-slider {
  display: flex;
  flex-direction: column;
}

.example-slider__images {
  margin-bottom: 25px;

  text-align: center;
}

.example-slider__item {
  width: 320px;
  height: 240px;
}

.example-slider__item--none {
  display: none;
}

.example-slider__scale {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-slider__scale-before {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;

  cursor: pointer;
}

.example-slider__scale-line {
  width: 84px;
  height: 14px;
  margin: 0 19px;
  padding: 3px 4px;

  background-color: #ffffff;

  border: $border;
  border-radius: 4px;

  box-sizing: border-box;
}

.example-slider__scale-inner {
  width: 50%;
  height: 6px;

  background-color: $green;

  border-radius: 5px;
}

.example-slider__scale-inner--right {
  margin-left: auto;
}

.example-slider__scale-after {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;

  cursor: pointer;
}


@media (min-width: 768px) {
  .example {
    padding-top: 15px;
    padding-bottom: 0;

    background: none;
  }

  .example__title {
    width: 708px;
    margin: 0 auto;
    margin-bottom: 63px;
    padding-left: 0;
    padding-right: 0;

    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    margin-bottom: 53px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
  }

  .example__wrapper {
    width: 708px;
    margin: 0 auto;
    margin-bottom: 255px;
    padding: 0;
  }

  .example__results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .example__item-wrapper {
    margin: 0;
  }

  .example__item {
    width: 160px;
    margin-right: 44px;
  }

  .example__item-figure {
    font-size: 30px;
    line-height: 37.02px;
  }

  .example__item-text {
    bottom: -6px;

    width: auto;
    padding: 0 5px;

    font-size: 14px;
    line-height: 14px;

    background-color: #ffffff;
  }

  .example__cost {
    padding-left: 120px;

    font-size: 20px;
    line-height: 24px;
    text-align: right;
  }

  .example__before-after {
    position: relative;

    background-color: #f2f2f2;
    padding: 0;
    padding-top: 369px;
    padding-bottom: 73px;
  }

  .example-slider__images {
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;

    margin: auto;
  }

  .example-slider__item {
    width: 677px;
    height: 499px;
  }

  .example-slider__scale {
    width: 708px;
    margin: 0 auto;
  }

  .example-slider__scale-before {
    font-size: 20px;
    line-height: 20px;

    border-bottom: 1px dashed #bebebe;
  }

  .example-slider__scale-line {
    position: relative;

    width: 428px;
    height: 6px;
    padding: 0;

    background-color: #dcdcdc;

    border-radius: 4px;
  }

  .example-slider__scale-inner {
    display: none;
  }

  .example-slider__control {
    position: absolute;
    top: -16px;
    left: 50%;

    width: 34px;
    height: 34px;
    margin-left: -17px;

    background-color: #ffffff;

    border: $border;
    border-radius: 50%;

    box-sizing: border-box;

    cursor: pointer;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;
      width: 8px;
      height: 8px;
      margin: auto;

      background-color: $green;

      border-radius: 50%;

      content: "";
    }
  }

  .example-slider__scale-after {
    font-size: 20px;
    line-height: 20px;

    border-bottom: 1px dashed #bebebe;
  }
}

@media (min-width: 1300px) {
  .example {
    padding-top: 50px;
  }

  .example__title {
    width: 1220px;
    margin-bottom: 73px;
  }

  .example__color-wrapper {
    padding: 73px 0;

    background-color: #f2f2f2;
  }

  .example__flex-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .example__wrapper {
    width: 570px;
    margin: 0;
    padding-right: 135px;

    box-sizing: border-box;
  }

  .example__text {
    margin-bottom: 65px;
  }

  .example__results {
    flex-direction: column;
    align-items: stretch;
    margin: 0;
  }

  .example__item-wrapper {
    justify-content: stretch;
    margin-bottom: 62px;
  }

  .example__item-text {
    bottom: -8px;

    background-color: #f2f2f2;
  }

  .example__cost {
    padding: 0;

    text-align: left;
  }

  .example__before-after {
    width: 570px;
    padding-top: 295px;
    padding-bottom: 0;

    background: none;
  }

  .example-slider__images {
    top: -250px;

    width: 570px;
    margin: 0;
  }

  .example-slider__scale {
    width: 570px;
    margin: 0;
  }
}
