// .form {

// }

.form__form {
  margin-bottom: 10px;
}

.form__fieldset {
  @include text-reset;

  border: none;
}

.form__fieldset--line {
  padding: 21px 6.25%;

  border-bottom: $border;
}

.form__row {
  @include text-reset;
  margin-bottom: 10px;

  display: flex;
  align-items: center;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__default-label {
  margin-right: 15px;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: $oswald;
  color: #222222;
  text-transform: uppercase;
}

.form__default-label--right {
  margin: 0;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 15px;

    border: $border;
    border-radius: 50%;
  }
}

.form__default-input {
  flex-grow: 1;
  padding: 12px 15px;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: $oswald;
  color: $gray;
  text-transform: uppercase;

  &::placeholder {
    color: $gray;
  }
}

.form__contacts-wrapper {
  padding: 0 6.25%;
}

.form__contacts-input {
  flex-grow: 1;
  padding: 12px 15px;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: $oswald;
  color: $gray;
  text-transform: uppercase;

  &::placeholder {
    color: $gray;
  }
}

.form__fieldset-title {
  @include text-reset;
  position: relative;
  margin-bottom: 20px;

  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: $oswald;
  color: $black;

  &::after {
    position: absolute;
    top: 14px;

    display: block;
    width: 100%;
    height: 3px;

    background-color: $green;

    content: "";
    z-index: -1;
  }
}

.form__fieldset-span {
  display: inline-block;
  max-width: 185px;
  padding: 0 6.25%;

  background-color: #ffffff;
}

.form__textarea {
  width: 87.5%;
  margin: 0 6.25%;
  padding: 12px 15px;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: $oswald;
  color: $gray;
  text-transform: uppercase;

  box-sizing: border-box;

  &::placeholder {
    color: $gray;
  }
}

.form__checkbox-wrapper {
  padding: 0 6.25%;
}

.form__button-footnote {
  padding: 0 6.25%;
}

.form__button {
  width: 100%;
}

.form__footnote {
  display: block;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $gray;
  text-align: center;
}


@media (min-width: 768px) {
  .form__fieldset {
    padding: 21px 0;
  }

  .form__fieldset--line {
    padding: 21px 9.375%;

    border: none;
  }

  .form__fieldset--border {
    border: $border;
  }

  .form__default-label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__default-input {
    font-size: 20px;
    line-height: 20px;
  }

  .form__contacts-wrapper {
    padding: 0 9.375%;
  }

  .form__contacts-input {
    font-size: 20px;
    line-height: 20px;
  }

  .form__textarea {
    width: 81.25%;
    margin: 0 9.375%;

    font-size: 20px;
    line-height: 20px;
  }

  .form__fieldset-title {
    font-size: 36px;
    line-height: 36px;

    &::after {
      top: 18px;
    }
  }

  .form__fieldset-span {
    max-width: none;
    margin-left: 5.475%;
    padding: 0 3.9%;
  }

  .form__checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 9.375%;
  }

  .form__row--flex {
    width: 284px;
  }

  .form__button-footnote {
    display: flex;
    justify-content: space-between;
    padding: 0 9.375%;
  }

  .form__button {
    width: 284px;

    font-size: 20px;
    line-height: 20px;
  }

  .form__footnote {
    width: 284px;

    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }
}

@media (min-width: 1300px) {
  .form__form {
    padding: 0;
  }

  .form__fieldset-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .form__fieldset--line {
    width: 570px;
    padding: 0;
  }

  .form__contacts-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  .form__title-wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .form__fieldset-span {
    margin: 0 -40px;
    padding: 0 40px;
  }

  .form__contacts-row {
    width: 570px;
    margin: 0;
  }

  .form__textarea-wrapper {
    text-align: center;
  }

  .form__textarea {
    width: 1220px;
    margin: 0;
  }

  .form__row--flex {
    width: 245px;
  }

  .form__button {
    width: 570px;
  }

  .form__footnote {
    width: 570px;
  }
}
