// .form {

// }

.form__form {
  margin-bottom: 32px;
}

.form__fieldset {
  @include text-reset;


  border: none;
}

.form__row {
  @include text-reset;

  display: flex;
  align-items: center;
}

.form__fieldset--line {
  padding: 20px 6.25%;
  padding-bottom: 23px;

  border-bottom: $border;
}

.form__fieldset--line .form__row {
  margin-bottom: 17px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__fieldset--border {
  padding-bottom: 17px;
}

.form__fieldset--border .form__row {
  margin-bottom: 11px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__fieldset--contacts {
  padding-top: 30px;
  padding-bottom: 10px;
}

.form__fieldset--contacts .form__row {
  margin-bottom: 16px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__fieldset--comment {
  padding-top: 20px;
  padding-bottom: 10px;
}

.form__default-label {
  position: relative;
  margin-right: 15px;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: $oswald;
  color: #222222;
  text-transform: uppercase;
}

.form__default-label--radio {
  display: inline-block;
  vertical-align: middle;
  margin: 0;

  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 15px;

    border: $border;
    border-radius: 50%;
  }

  &:hover::before,
  &:focus::before {
    border-color: #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__radio-input:checked + .form__default-label--radio {
  &::after {
    position: absolute;
    top: 10px;
    left: 10px;

    display: block;
    width: 12px;
    height: 12px;

    background-color: $green;

    border-radius: 50%;

    content: "";
  }
}

.form__default-input {
  flex-grow: 1;
  padding: 11px 15px;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: $oswald;
  color: $gray;
  text-transform: uppercase;

  border: $border;

  &::placeholder {
    color: $gray;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    padding: 10px 14px;

    outline: none;
    border: 2px solid $black;
  }

  &:focus:invalid {
    padding: 10px 14px;

    border: 2px solid #ff8282;
  }
}

.form__contacts-wrapper {
  padding: 0 6.25%;
}

.form__contacts-input {
  flex-grow: 1;
  padding: 12px 15px;
  padding-right: 40px;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: $oswald;
  color: $gray;
  text-transform: uppercase;

  border: $border;

  &::placeholder {
    color: $gray;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    padding: 11px 14px;

    outline: none;
    border: 2px solid $black;
  }

  &:focus:invalid {
    padding: 11px 14px;

    border: 2px solid #ff8282;
  }
}

.form__contacts-input--letter {
  padding-right: 40px;

  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-image: url("../img/icon-mail.svg");
  background-size: 17px 13px;

  &:focus {
    background-image: url("../img/icon-mail--green.svg");
  }

  &:focus:invalid {
    background-image: url("../img/icon-mail--red.svg");
  }
}

.form__contacts-input--phone {
  padding-right: 40px;

  background-repeat: no-repeat;
  background-position: calc(100% - 11px) center;
  background-image: url("../img/icon-phone.svg");
  background-size: 20px 20px;

  &:focus {
    background-image: url("../img/icon-phone--green.svg");
  }

  &:focus:invalid {
    background-image: url("../img/icon-phone--red.svg");
  }
}

.form__fieldset-title {
  @include text-reset;
  position: relative;
  margin-bottom: 33px;

  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: $oswald;
  color: $black;

  &::after {
    position: absolute;
    top: 14px;

    display: block;
    width: 100%;
    height: 3px;

    background-color: $green;

    content: "";
    z-index: -1;
  }
}

.form__fieldset-span {
  display: inline-block;
  max-width: 185px;
  padding: 0 6.25%;

  background-color: #ffffff;
}

.form__textarea {
  width: 87.5%;
  height: 150px;
  margin: 0 6.25%;
  padding: 12px 13px;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: $oswald;
  color: $gray;
  text-transform: uppercase;

  border: $border;

  box-sizing: border-box;

  &::placeholder {
    color: $gray;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    padding: 11px 12px;

    outline: none;
    border: 2px solid $black;
  }
}

.form__fieldset--additional {
  margin-bottom: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form__fieldset--additional .form__row {
  margin-bottom: 12px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__checkbox-wrapper {
  padding: 0 6.25%;
}

.form__default-label--checkbox {
  display: inline-block;
  vertical-align: middle;
  margin: 0;

  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 15px;

    border: $border;
  }

  &:hover::before,
  &:focus::before {
    border-color: #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__checkbox-input:checked + .form__default-label--checkbox {
  &::before {
    background-image: url("../img/icon-tick--green.svg");
    background-repeat: no-repeat;
    background-size: 21px 16px;
    background-position: center;
  }
}

.form__button-footnote {
  @include text-reset;
  padding: 0 6.25%;
}

.form__button {
  width: 100%;
  margin-bottom: 17px;

  font-size: 16px;
  line-height: 18px;
}

.form__footnote {
  display: block;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $gray;
  text-align: center;
}


@media (min-width: 768px) {
  .form__form {
    margin-bottom: 73px;
  }

  .form__fieldset--line {
    margin-bottom: 53px;
    padding: 17px 9.375%;

    border: none;
  }

  .form__fieldset--line .form__row {
    margin-bottom: 18px;
  }

  .form__fieldset--border {
    margin: 0 9.375%;
    padding: 24px 27px;
    padding-bottom: 20px;

    border: $border;

    box-sizing: border-box;
  }

  .form__default-label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__default-input {
    padding: 11px 19px;

    font-size: 20px;
    line-height: 20px;

    &:focus {
      padding: 10px 18px;
    }

    &:focus:invalid {
      padding: 10px 18px;
    }
  }

  .form__default-label--radio {
    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .form__radio-input:checked + .form__default-label--radio {
    &::after {
      top: 12px;
      left: 12px;

      width: 18px;
      height: 18px;
    }
  }

  .form__fieldset--border .form__row {
    margin-bottom: 13px;
  }

  .form__fieldset-wrapper {
    margin-bottom: 74px;
  }

  .form__contacts-wrapper {
    padding: 0 9.375%;
  }

  .form__fieldset--contacts {
    margin-bottom: 65px;
    padding: 0;
  }

  .form__fieldset--contacts .form__row {
    margin-bottom: 17px;
  }

  .form__contacts-input {
    padding: 11px 15px;

    font-size: 20px;
    line-height: 20px;

    &:focus {
      padding: 10px 14px;
      padding-right: 39px;
    }

    &:focus:invalid {
      padding: 10px 14px;
      padding-right: 39px;
    }
  }

  .form__fieldset--comment {
    margin-bottom: 62px;
    padding: 0;
  }

  .form__textarea {
    width: 81.25%;
    height: 175px;
    margin: 0 9.375%;
    padding: 15px;

    font-size: 20px;
    line-height: 20px;

    &:hover {
      border: 1px solid #cdcdcd;
    }

    &:focus {
      padding: 14px;

      outline: none;
      border: 2px solid $black;
    }
  }

  .form__fieldset-title {
    margin-bottom: 75px;

    font-size: 36px;
    line-height: 36px;

    &::after {
      top: 18px;
    }
  }

  .form__contacts-input--letter {
    padding-right: 40px;
  }

  .form__contacts-input--phone {
    padding-right: 40px;
  }

  .form__fieldset--additional {
    padding: 0;
  }

  .form__fieldset--additional .form__fieldset-title {
    margin-bottom: 56px;
  }

  .form__fieldset--additional .form__row {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  .form__fieldset-span {
    max-width: none;
    margin-left: 5.475%;
    padding: 0 3.9%;
  }

  .form__checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 9.375%;
    margin-bottom: 13px;
  }

  .form__row--flex {
    width: 284px;
  }

  .form__default-label--checkbox {
    &::before {
      width: 38px;
      height: 38px;
    }
  }

  .form__checkbox-input:checked + .form__default-label--checkbox {
    &::before {
      background-image: url("../img/icon-tick--green.svg");
      background-repeat: no-repeat;
      background-size: 21px 16px;
      background-position: center;
    }
  }

  .form__button-footnote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9.375%;
  }

  .form__button {
    width: 284px;
    margin: 0;
    padding: 15px;

    font-size: 20px;
    line-height: 20px;
  }

  .form__footnote {
    width: 284px;

    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }
}

@media (min-width: 1300px) {
  .form__form {
    margin-bottom: 90px;
    padding: 0;
  }

  .form__fieldset-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 67px;
  }

  .form__fieldset--line {
    width: 570px;
    margin: 0;
    padding: 0;
  }

  .form__fieldset--border {
    padding: 25px;
    padding-bottom: 20px;
  }

  .form__contacts-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  .form__title-wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .form__fieldset-span {
    margin: 0 -40px;
    padding: 0 40px;
  }

  .form__fieldset .form__contacts-row {
    width: 570px;
    margin: 0;
  }

  .form__textarea-wrapper {
    text-align: center;
  }

  .form__textarea {
    width: 1220px;
    margin: 0;
  }

  .form__fieldset--additional .form__fieldset-title {
    margin-bottom: 60px;
  }

  .form__checkbox-wrapper {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 46px;
    padding: 0;
  }

  .form__fieldset--additional .form__row--flex {
    width: 245px;
    margin: 0;

    &:last-of-type {
      margin: 0;
    }
  }

  .form__button-footnote {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  .form__button {
    width: 570px;
  }

  .form__footnote {
    width: 570px;
  }
}
