.gift {
  position: relative;

  width: 280px;
  margin: 0 auto;
  padding-top: 190px;
  padding-bottom: 40px;

  text-align: center;

  background-color: $green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 100%;
  }

  &::before {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;

    display: block;
    width: 55px;
    height: 60px;
    margin: auto;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;

    content: "";
  }
}

.gift__text {
  @include text-reset;
  padding: 0 50px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}


@media (min-width: 768px) {
  .gift {
    width: 708px;
    margin: 0 auto;
    padding: 70px 0;
    padding-left: 375px;
    padding-right: 60px;

    text-align: left;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    box-sizing: border-box;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 100%;
    }

    &::before {
      top: 0;
      bottom: 0;
      left: 90px;
      right: auto;
    }
  }
}

@media (min-width: 1300px) {
  .gift {
    width: 245px;
    margin: 0;
    padding: 0 40px;
    padding-top: 190px;
    padding-bottom: 40px;

    text-align: center;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 100%;
    }

    &::before {
      top: 20px;
      bottom: auto;
      left: 0;
      right: 0;
    }
  }

  .gift__text {
    padding: 0;
  }
}
