.gift {
  position: relative;

  margin-bottom: 35px;
  padding-top: 190px;

  text-align: center;

  background-color: $green;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.gift__text {
  @include text-reset;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
