.gift {
  position: relative;

  min-height: 289px;
  margin-bottom: 35px;
  padding-top: 190px;

  // text-align: center;

  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  box-sizing: border-box;
}

.gift__text {
  @include text-reset;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
