.gift {
  position: relative;

  width: 280px;
  margin: 0 auto;
  padding-top: 190px;

  text-align: center;

  background-color: $green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.gift__text {
  @include text-reset;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}


@media (min-width: 768px) {
  .gift {
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: 1300px) {
  .gift {
    width: 245px;
    margin: 0;
  }
}
