// .main-nav {

// }

.main-nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 6.25%;
}

.main-nav__logo {
  &:hover[href],
  &:focus[href] {
    opacity: 0.8;
  }

  &:active[href] {
    opacity: 0.6;
  }
}

.main-nav__logo-image {
  width: 191px;
  height: 38px;
}

.main-nav__toggle {
  position: relative;

  display: block;
  width: 24px;
  height: 18px;
  padding: 0;

  background-color: transparent;

  border: none;

  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 2px;

  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

// .main-nav--closed .main-nav__toggle:active::before {
//   background-color: rgba(255, 255, 255, 0.3);
//   box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
// }

.main-nav--opened .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  left: 3px;

  width: 18px;
  height: 18px;

  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
}

.main-nav__list {
  @include list-reset;
}

.main-nav__item {
  border-top: $border;

  &:last-of-type {
    border-bottom: $border;
  }
}

.main-nav__link {
  display: block;
  padding: 23px 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: $oswald;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  &:hover[href],
  &:focus[href] {
    opacity: 0.8;
  }

  &:active[href] {
    opacity: 0.6;
  }
}


@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }

  .main-nav--opened .main-nav__list {
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 10;

    width: 100%;

    background-color: #ffffff;
  }
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
    width: 708px;
    margin: 0 auto;
    padding: 25px 0;
  }

  .main-nav__top {
    width: 192px;
    padding: 0;
    flex-shrink: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo-image {
    width: 173px;
    height: 58px;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
  }

  .main-nav__item {
    margin-left: 35px;

    text-align: right;

    border-top: none;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .main-nav__link {
    padding: 12px 0;

    font-weight: normal;
    font-size: 18px;
    line-height: 24.86px;
    text-align: right;

    &:not([href]) {
      border-bottom: 2px solid $green;
    }
  }
}

@media (min-width: 1300px) {
  .main-nav {
    width: 1220px;
    padding: 55px 0;
  }

  .main-nav__top {
    width: 245px;
  }

  .main-nav__logo-image {
    width: 202px;
    height: 59px;
  }

  .main-nav__link {
    font-size: 20px;
  }

  .main-nav__link--white {
    color: #ffffff;

    &:not([href]) {
      border-bottom: 2px solid #ffffff;
    }
  }
}
