// .page-catalog {

// }

.page-catalog__title {
  @include text-reset;
  width: 280px;
  padding: 22px 6.25%;

  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  font-family: $oswald;
  color: $black;
}


@media (min-width: 768px) {
  .page-catalog__title{
    width: 708px;
    margin: 0 auto;
    padding: 22px 0;
  }
}

@media (min-width: 1300px) {
  .page-catalog__title{
    width: 1220px;
  }
}
