// .page-footer {

// }

// .page-footer__contacts {

// }

.page-footer__down {
  padding: 0 6.25%;

  background-color: #f2f2f2;
}

.page-footer__logo {
  padding-top: 38px;
  padding-bottom: 30px;

  text-align: center;
}

// .page-footer__social {

// }

// .page-footer__copyright {

// }

@media (min-width: 768px) {
  .page-footer__down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 3.9%;

    box-sizing: border-box;
  }

  .page-footer__logo {
    width: 30.73%;
    padding: 0;

    text-align: left;
  }
}

@media (min-width: 1300px) {
  .page-footer__down {
    display: flex;
    justify-content: space-between;
    padding: 0 4.46%;
  }
}
