.page-header {
  margin-bottom: 16px;
}


@media (min-width: 768px) {
  .page-header {
    margin-bottom: 30px;
  }
}

@media (min-width: 1300px) {
  .page-header--green {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;

      display: block;
      width: 50%;
      height: 500px;

      background-color: $green;

      content: "";

      z-index: -1;
    }
  }
}
