.page-form__title {
  @include text-reset;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 0 6.25%;

  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  font-family: $oswald;
  color: $black;
}

.page-form__teaser {
  @include text-reset;
  width: 270px;
  margin-bottom: 20px;
  padding: 0 6.25%;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;

  box-sizing: border-box;
}


@media (min-width: 768px) {
  .page-form__title {
    width: 708px;
    margin: 0 auto;
    margin-top: 28px;
    margin-bottom: 57px;
    padding: 0;

    font-size: 60px;
    line-height: 60px;
  }

  .page-form__teaser {
    width: 708px;
    margin: 0 auto;
    margin-bottom: 46px;
    padding: 0 40px;
    padding-right: 324px;

    font-size: 20px;
    line-height: 30px;

    box-sizing: border-box;
  }
}

@media (min-width: 1300px) {
  .page-form__title {
    width: 1220px;
    margin-top: 15px;
  }

  .page-form__teaser {
    width: 1220px;
    margin-bottom: 62px;
    padding: 0;
    padding-right: 895px;
  }
}
