// .page-footer {

// }

// .page-footer__contacts {

// }

.page-footer__down-wrapper {
  background-color: #f2f2f2;
}

.page-footer__down {
  max-width: 1300px;
  padding: 0 6.25%;
}

.page-footer__logo {
  padding-top: 38px;
  padding-bottom: 30px;

  text-align: center;
}

.page-footer__logo-link[href] {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.6;
  }
}

// .page-footer__social {

// }

// .page-footer__copyright {

// }

@media (min-width: 768px) {
  .page-footer__down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 50px 3.9%;

    box-sizing: border-box;
  }

  .page-footer__logo {
    width: 30.73%;
    padding: 0;

    text-align: left;
  }
}

@media (min-width: 1300px) {
  .page-footer__down {
    display: flex;
    justify-content: space-between;
    padding: 50px 40px;
  }
}
