.programs {
  padding: 0 6.25%;
}

.programs__list {
  @include list-reset;
}

.programs__item {
  position: relative;

  margin-bottom: 20px;
  padding: 30px 21px;
  padding-bottom: 19px;

  background-color: #f2f2f2;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    top: 24px;
    left: 22px;

    display: block;
    width: 50px;
    height: 53px;

    background-color: $green;
    border-radius: 50%;

    content: "";
  }

  &::after {
    position: absolute;

    display: block;

    background-repeat: no-repeat;

    content: "";
  }
}

.programs__item--slim {
  &::after {
    top: 22px;
    left: 30px;

    width: 35px;
    height: 49px;

    background-image: url("../img/icon-cat-slim.svg");
  }
}

.programs__item--pro {
  &::after {
    top: 35px;
    left: 13px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
  }
}

.programs__title {
  @include text-reset;
  margin-bottom: 27px;
  padding-left: 70px;

  font-weight: normal;
  font-size: 24px;
  line-height: 37.02px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;

  box-sizing: border-box;
}

.programs__text {
  position: relative;

  @include text-reset;
  margin-bottom: 45px;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $gray;

  &::after {
    position: absolute;
    bottom: -23px;

    display: block;
    width: 100%;
    height: 1px;

    background-color: rgba(17, 17, 17, 0.1);

    content: "";
  }
}

.programs__to-catalog {
  display: inline-block;
  vertical-align: top;
  padding-right: 36px;

  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  background-image: url("../img/icon-right-arrow-long.svg");
  background-size: 24px 11px;
  background-position: center right;
  background-repeat: no-repeat;
}


@media (min-width: 768px) {
  .programs {
    width: 708px;
    margin: 0 auto;
    padding: 0;
  }

  .programs__item {
    margin-bottom: 30px;
    padding-top: 75px;
    padding-left: 55px;
    padding-right: 280px;
    padding-bottom: 60px;

    &::before {
      top: 92px;
      left: calc(100% - 262px);

      display: block;
      width: 200px;
      height: 200px;

      content: "";
    }
  }

  .programs__item--slim {
    &::after {
      top: 80px;
      left: calc(100% - 232px);

      width: 140px;
      height: 194px;
    }
  }

  .programs__item--pro {
    padding-right: 310px;

    &::after {
      top: 135px;
      left: calc(100% - 296px);

      width: 268px;
      height: 112px;
    }
  }

  .programs__title {
    margin-bottom: 28px;
    padding: 0;

    font-size: 36px;
    line-height: 37.02px;
    text-align: left;
  }

  .programs__text {
    margin-bottom: 55px;

    font-size: 16px;
    line-height: 24px;

    &::after {
      display: none;
    }
  }

  .programs__to-catalog {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: 1300px) {
  .programs {
    width: 1220px;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;
  }

  .programs__item {
    width: 570px;
    margin: 0;
    padding-top: 80px;
    padding-left: 53px;
    padding-right: 53px;
    padding-bottom: 63px;

    box-sizing: border-box;

    &::before {
      top: 47px;
      left: 52px;

      display: block;
      width: 100px;
      height: 100px;

      content: "";
    }
  }

  .programs__item--slim {
    &::after {
      top: 41px;
      left: 66px;

      width: 70px;
      height: 97px;
    }
  }

  .programs__item--pro {
    &::after {
      top: 69px;
      left: 34px;

      width: 134px;
      height: 56px;
    }
  }

  .programs__title {
    text-align: center;
  }
}
