.programs {

}

.programs__to-choice {
  margin-bottom: 22px;
}

.programs__list {
  @include list-reset;
}

.programs__item {
  position: relative;

  margin-bottom: 20px;
  padding: 32px 21px;

  background-color: #f2f2f2;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    top: 24px;
    left: 22px;

    display: block;
    width: 50px;
    height: 53px;

    background-color: $green;
    border-radius: 50%;

    content: "";
  }

  &::after {
    position: absolute;

    display: block;

    background-repeat: no-repeat;

    content: "";
  }
}

.programs__item--slim {
  &::after {
    top: 22px;
    left: 30px;

    width: 35px;
    height: 49px;

    background-image: url("../../img/icon-cat-slim.svg");
  }
}

.programs__item--pro {
  &::after {
    top: 35px;
    left: 13px;

    width: 67px;
    height: 28px;

    background-image: url("../../img/icon-cat-pro.svg");
  }
}

.programs__title {
  @include text-reset;
  margin-bottom: 35px;

  font-weight: normal;
  font-size: 24px;
  line-height: 37.02px;
  font-family: $oswald;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.programs__text {
  position: relative;

  @include text-reset;
  margin-bottom: 45px;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $gray;;

  &::after {
    position: absolute;
    bottom: -20px;

    display: block;
    width: 100%;
    height: 1px;

    background-color: rgba(17, 17, 17, 0.1);

    content: "";
  }
}

.programs__to-catalog {
  display: inline-block;
  vertical-align: top;
  padding-right: 36px;

  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  background-image: url("../../img/icon-right-arrow-long.svg");
  background-size: 24px 11px;
  background-position: center right;
  background-repeat: no-repeat;
}
