.teaser {
  position: relative;

  margin-bottom: 198px;
  padding-top: 30px;
  padding-bottom: 165px;

  background-color: $green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.teaser__title {
  @include text-reset;
  margin-bottom: 25px;

  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  font-family: $oswald;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.teaser__slogan {
  @include text-reset;

  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  font-family: $oswald;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.teaser__image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -135px;

  margin: auto;
}

.teaser__to-choice {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -175px;

  width: 280px;

  margin: auto;

  box-sizing: border-box;
}


@media (min-width: 768px) {
  .teaser {
    width: 708px;
    margin: 0 auto;
    padding-bottom: 530px;
    padding-left: 90px;

    background: none;

    box-sizing: border-box;
  }

  .teaser__title {
    padding-right: 190px;

    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: left;
  }

  .teaser__slogan {
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
    text-transform: uppercase;
  }

  .teaser__image {
    bottom: 0;

    width: 709px;
    height: auto;

    z-index: -1;
  }

  .teaser__to-choice {
    position: static;

    display: inline-block;
    width: auto;
    padding-left: 25px;
    padding-right: 25px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: 1300px) {
  .teaser {
    width: 1220px;
    margin-bottom: 80px;
    padding-bottom: 188px;
    padding-left: 83px;

    box-sizing: border-box;
  }

  .teaser__title {
    padding-right: 690px;
  }

  .teaser__image {
    top: 0;
    left: 0;

    width: 552px;
    height: 499px;

    z-index: -1;
  }
}
