.teaser {
  position: relative;

  margin-bottom: 22px;
  padding-top: 30px;

  text-align: center;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 305px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.teaser__title {
  @include text-reset;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;

  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  font-family: $oswald;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.teaser__slogan {
  @include text-reset;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;

  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  font-family: $oswald;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.teaser__image {
  width: 280px;
  height: 271px;
}

.teaser__to-choice {
  width: 280px;
  margin: auto;

  box-sizing: border-box;
}


@media (min-width: 768px) {
  .teaser {
    width: 708px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 530px;
    padding-left: 90px;

    text-align: left;

    background: none;

    box-sizing: border-box;
  }

  .teaser__title {
    width: 100%;
    margin-bottom: 40px;
    padding-right: 190px;

    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: left;

    box-sizing: border-box;
  }

  .teaser__slogan {
    width: 100%;
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
    text-transform: uppercase;
  }

  .teaser__image {
    position: absolute;

    left: 0;
    bottom: 0;

    width: 709px;
    height: 609px;
    margin: 0;

    z-index: -1;
  }

  .teaser__to-choice {
    position: static;

    display: inline-block;
    width: auto;
    padding: 15px 0;
    padding-left: 25px;
    padding-right: 25px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: 1300px) {
  .teaser {
    width: 1220px;
    margin-bottom: 80px;
    padding-top: 50px;
    padding-bottom: 188px;
    padding-left: 83px;

    box-sizing: border-box;
  }

  .teaser__title {
    padding-right: 690px;
  }

  .teaser__slogan {
    margin-bottom: 54px;
  }

  .teaser__image {
    top: -30px;
    left: 450px;

    width: 552px;
    height: 499px;

    z-index: -1;
  }
}
