@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;

  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

html {
  min-width: 320px;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: $gray;
}

img {
  max-width: 100%;
  height: auto;
}
