@import "variables.scss";
@import "base.scss";
@import "mixins.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/button.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-main.scss";
@import "blocks/teaser.scss";
@import "blocks/programs.scss";
@import "blocks/advantages.scss";
@import "blocks/example.scss";
@import "blocks/page-footer.scss";
@import "blocks/contacts.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/page-catalog.scss";
@import "blocks/catalog.scss";
@import "blocks/additional-products.scss";
@import "blocks/gift.scss";
